.input-col{
    border: solid rgb(71, 93, 192) 1px;
    border-radius: 10px;
  }
  .send-col{
    //border: solid rgb(71, 93, 192) 1px;
    padding-top:0px;
    padding-bottom:0px;
  }
  .stream ion-item {
    min-height: fit-content !important;
    height: 51px;
}
ion-badge {
    padding: 10px!important;
    text-align: left;
    max-width: 80%;
}